.greadheader{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
}
.greadheader div{
    font-size: 12px;
    text-align: center;
    margin-right:-1px;
}
.gridbody{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
}
.gridbody div{
    font-size: 12px;
    text-align: center;
    z-index: 0;
    margin-top:-1px;
    margin-right:-1px;
}
.inputtext {
    width: 99%;
    height: 95%;
    border: 0px;
    background: none;
    text-align: center;
}
.linkbutton {
    text-decoration:none;
    background: none;
    border: none;
    padding: 0px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
.gridbody div:focus{
    z-index: 999999;
}
.gridbody div p{
    border:0px;
    margin: 0px;
}
.gridbody div i {
    font-size: 20px;
}
.gridbody div i:hover {
    font-size: 28px;
}