.greadheader{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
}
.greadheader div{
    font-size: 12px;
    text-align: center;
    margin-right:-1px;
}
.gridbody{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
}
.gridbody div{
    font-size: 12px;
    text-align: center;
    z-index: 0;
    margin-top:-1px;
    margin-right:-1px;
}
.display_inline_block {
    display: inline-block;
}
.gridbody div:focus{
    z-index: 9999;
}
.gridbody div p{
    border:0px;
    margin: 0px;
}
.gridbody div i {
    font-size: 20px;
}
.gridbody div i:hover {
    font-size: 28px;
}